
/* for first page */
body {
    background-image: url('greetingbckgrnd.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* for top head */
.wrapper {
    font-family: 'Cinzel', serif;
    font-family: 'Roboto Slab', serif;
}
.wrapper h2 {
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 10px #03e9f4;
    font-weight: bold;
}
.text:before {
    content: '';
    animation: animate infinite 4s;
}
@keyframes animate{
    0%{
        content: "Home";
    }
    100%{
        content: 'Safe';
    }

}

/*for year line */

.makeself {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
     text-shadow: 10px 12px 20px fuchsia; 
    word-spacing: 15px;
    letter-spacing: 5px;
    
                
          
    }
   

/* for click button */
 
.button a{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    background: #03e9f4; 
    padding: 25px 25px;
    margin: 30px 0; 
    border-radius: 5px;
    transition: 0.5s; 
    letter-spacing: 4px;
    color: black;
    text-decoration: none;
    box-shadow:  0 0 5px #03e9f4,
                 0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4; 
           
    
    
   

}

.button a:hover {
    background: #ff005b;
     color: #03e9f4;
     box-shadow: 0 0 5px #ff005b,
                0 0 25px #ff005b,
                0 0 50px #ff005b,
                0 0 200px #ff005b;
       
  }


/* footer part */
.last {
    color: white;
    left: 40%;
}
.name {
    color: tomato;
    font-size: 20px;
    text-shadow: 4px 4px 7px crimson;
}

.year {
    font-size: 10px;
}

/* font awesome coloring and set */
.social-menu ul {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;

}
.social-menu ul li {
    list-style: none;
    margin:10px;

}

.social-menu ul li .fa {
    color: black;
    font-size: 25px;
    line-height: 50px; 
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 7px 10px black;
    margin: auto;

}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(2) a:hover {
     background-color: blue;
}
.social-menu ul li:nth-child(1) a:hover {
    background-image: linear-gradient(180deg, #e4405f, skyblue);
}




 

