
body {
    font-family: 'Cinzel', serif;
    padding: 0;
    margin: 0; 
    height: 100vh; 
     background: black;  
      width: 100%;  
      /* box-sizing: border-box; */
   }  

/*for smoking color set */
section::before {
    content: '';
    position: absolute;
     background: linear-gradient(to right, firebrick,  blue, gold, hotpink, maroon, white); 
     width: 100%; 
    height: 100vh; 
    top: 0;
    left: 0;  
    mix-blend-mode: color;
}

/*text set*/
h1 {
    color: tomato;
    font-size: 70px; 
    text-shadow: 5px 5px 10px crimson ;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center; 
    width: 100%;
    margin: 0;
    padding: 0;
    
}

h1 span {
    display: inline-block;
    animation: animate 1s linear forwards;
    opacity: 0;
}

@keyframes animate {  
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

video {
    height: 80vh;
     width: 100%;
    object-fit: cover; 
}


h1 span:nth-child(1){
    animation-delay: 1s;
}
h1 span:nth-child(2){
    animation-delay: 1.25s;
}
h1 span:nth-child(3){
    animation-delay: 1.5s;
}
h1 span:nth-child(4){
    animation-delay: 1.75s;
}
h1 span:nth-child(5){
    animation-delay: 2s;
}
h1 span:nth-child(6){
    animation-delay: 2.5s;
}
h1 span:nth-child(7){
    animation-delay: 3s;
}
h1 span:nth-child(8){
    animation-delay: 3.5s;
}
h1 span:nth-child(9){
    animation-delay: 4s;
}
h1 span:nth-child(10){
    animation-delay: 4.5s;
}
h1 span:nth-child(11){
    animation-delay: 5s;
}

/*for button*/
  .button a{
    display: inline-block;
    font-size: 25px;
    /* background: #ff005b;  */
    padding: 20px 15px;
    margin: 20px 0; 
    transition: 0.5s; 
    letter-spacing: 4px;
    color: #15f4ee;
    text-decoration: none;
    position: absolute;
    bottom: 30%; 
    left: 42%;
    border-radius: 100px;
    transition: 1.5s;
    border: 5px solid #15f4ee;
} 

.button a:hover {
   
                box-shadow: 0 5px 20px 0 #15f4ee inset,
                0 5px 20px 0 #15f4ee,
                0 5px 20px 0 #15f4ee inset,
                0 5px 20px 0 #15f4ee;
                text-shadow: 0 0 5px #15f4ee;
               
  } 